.button {
  margin: 0;
  border: 0;
  cursor: pointer;

  &--add,
  &--settings {
    margin-left: 23px;
    background-color: $violet;
  }

  &--action {
    color: $blue;
    background-color: $deeper-violet;
  }
}
