.card__title {
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  color: $white;
}

.card__details {
  font-weight: 300;
  color: $pink;
}

.card__old-title {
  font-size: 14px;
  line-height: 19px;
  color: $light-violet;
}

.card__head {
  font-size: 14px;
  line-height: 19px;
}

.card__contacts {
  font-size: 14px;
  line-height: 19px;
}
