.main__helper {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-bottom: 58px;
  margin-right: 79px;
  padding-top: 53px;
}

.main__header {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: $white;
}

.main__inner {
  display: flex;
}
