.statistic {
  padding-top: 21px;

  &--rent {
    padding-bottom: 35px;
  }
}

.statistic__item {
  padding-left: 34px;
  padding-right: 85px;

  &--rent {
    padding-right: 10px;
  }
}

.statistic__item + .statistic__item {
  margin-top: 23px;
}

.statistic__title {
  margin: 0 0 8px 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
}

.statistic__text {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  color: $light-violet;
}
