.weather {
  display: flex;
}

.weather__item--data + .weather__item--data {
  margin-left: 39px;
}

.weather__text {
  font-size: 14px;
  line-height: 19px;
}

.weather__description {
  font-size: 14px;
  line-height: 19px;
  color: $light-violet;
}

.weather__temperature {
  font-size: 80px;
  line-height: 109px;
  font-weight: 300;
  letter-spacing: -0.05em;
}

.weather__degree {
  font-family: inherit;
  font-size: 36px;
  line-height: 49px;
  font-weight: 300;
}
